.logo {
    color: #FFAF60;
}

#burger {
    display: none;
}

#burger:checked+.burgerItem {
    top: 30px;
    right: 15%;
}

.burgerItem {
    background-color: gray;
    position: absolute;
    right: -1200px;
}

img {
    object-fit: fill;
    width: 100%;
}

.btn_add{
    background-color: #FFAF60;
}

.footer {
    background-color: #FFAF60;
}

.information {
    display: none;
}

@media screen and (min-width:768px) {
    .icons {
        display: none;
    }

    .burgerItem {
        position: inherit;
        background-color: #FFAF60;
        top: 0px;
        right: 0px;
    }

    .product_introduction_text{
        padding: 40px;
    }

    .input-group {
        position: absolute !important;
        top: 200px !important;
        right: 0px !important;
        width: 45% !important;
        padding: 25px;
    }

    .shopping_note {
        position: absolute;
        top: 300px;
        right: 0px;
    }

    .information {
        display: block;
    }

}